// Variables
@primary-color: rgb(143, 199, 72);
@primary-highlight-color: fade(@primary-color, 25%);

@primary-font: 'Source Sans Pro';
@header-font: 'Roboto';

html{
    font-family: @primary-font;
}

body{
    background: #f1f1f1;
    color: #777;
}


/* Element Styles */
.header h3{
    margin-top: 3rem;
    padding: 0 1rem;
    color: @primary-color;
    font-family: @header-font;
    font-size: 4rem;
    font-weight: bold;
    float: left;
}

.header img{
    height: 80px;
    margin: 1em;
    float: left;
}

.sortContainer{
    float: right;
    margin: 3em 1em;
}

.sortLabel{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    float:left;
    margin: 0.5rem 1rem;
}


/* Ticker tape */
.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    clear: both;
    margin-left: -10 !important;
    margin-right: -10 !important;
    min-height: 35px;
    padding: 10px;
    font-size: 3rem;
    font-weight: bold;
}

.marquee > span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee > span .marqueeName {
    margin-left: 3em;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


/* Table Styles */
table{
    width: 100%;    
    font-size: 4rem;
}

table thead tr th,
table tbody tr td{
    padding: 2rem !important;
}

table tr td{
    border-bottom: 3px solid #eee;    
    color: #333;
}

table tr th.active{
    background-color: @primary-highlight-color !important;
    border-bottom: 2px solid @primary-color;
}

table tr:hover td,
table tr td.active{
    background-color: @primary-highlight-color !important;
    border-bottom: 3px solid @primary-color;
}


/* Bootstrap Styles */
.container-fluid{
    margin: 1rem;
}

.alert{
    margin-bottom: 1rem;
}

.panel{
    padding: 0;
    border-color: #eee;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.btn{
    background-color: white;
    border-color: @primary-color;
    color: @primary-color;
    font-size: 2rem;
    padding: 0 1rem;
}

.btn.active,
.btn:active,
.btn:focus {
    background-color: @primary-color;
    color:white;
}


/* Misc./Generic Styles */
.italic{
    font-style: italic;
}

.center{
    text-align: center;
}